*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #f5f5f5;
	height: 100vh;
	width: 100vw;
	padding: 10%;
}
.Testimonial{
	padding: 2%;
	background-color: white;
	height: 14%;
	width: 100%;
	border: solid 1px gray;
	font-style: normal;
	font-size: 14px
	
}
.Author{
	text-align: right;
	font-style: italic;
}
